# =========================
# ENVIRONMENT
# =========================

.env
backend/.env

# =========================
# PYTHON
# =========================

venv/
env/

__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# JUPYTER
# =========================

.ipynb_checkpoints/

# =========================
# VSCODE
# =========================

.vscode/

# =========================
# FASTAPI / LOGS
# =========================

logs/

# =========================
# NODE
# =========================

node_modules/
frontend/node_modules/

# =========================
# NEXT.JS
# =========================

frontend/.next/
.next/

out/
dist/
build/

# =========================
# OS FILES
# =========================

.DS_Store
Thumbs.db

# =========================
# CACHE
# =========================

*.log

# =========================
# PYTHON TEST CACHE
# =========================

.pytest_cache/

# =========================
# MISC
# =========================

coverage/